name: My Workflow
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get latest meshtastic version 
        id: latest_meshtastic_tag
        run: |
          result=$(curl -sL https://api.github.com/repos/meshtastic/firmware/releases/latest | jq -r '.tag_name' )
          echo "result=$result" >> $GITHUB_OUTPUT

      - name: Check if release exists locally
        id: check_release
        env: 
          RELEASE_TAG: $ {{ steps.latest_meshtastic_tag.outputs.result }}
        run: | 
          set -e
          if gh release view "$RELEASE_TAG" >/dev/null 2>&1; then
            echo "exists=true" >> "$GITHUB_OUTPUT"
          else
            echo "exists=false" >> "$GITHUB_OUTPUT"
          fi
      - name: Exit if release already exists
        if: steps.check_release.outputs.exits == 'true'
        run: | 
          echo "Release for this verion of meshtastic already exists. Exiting."
          exit 1

      - name: Install platformIO cli 
        run: |
          curl -fsSL -o get-platformio.py https://raw.githubusercontent.com/platformio/platformio-core-installer/master/get-platformio.py
          python3 get-platformio.py
      
      - name: Install meshtastic firmware
        run: |
          git clone https://github.com/meshtastic/firmware /home/runner/

      - name: Move retia board files 
        run: |
          cp ${{ github.workspace }}/variants/retia-nibble /home/runner/firmware/variants/ -r

      - name: Build nibble-screen-connect
        run: |
          /home/runner/.platformio/penv/bin/platformio /home/runner/firmware/platformio.ini -e nibble-screen-connect

