name: My Workflow
on: [push]
jobs:
  preamble:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get latest meshtastic version 
        id: latest_meshtastic_tag
        run: |
          result=$(curl -sL https://api.github.com/repos/meshtastic/firmware/releases/latest | jq -r '.tag_name' )
          echo "result=$result" >> $GITHUB_OUTPUT

      - name: Check if release exists locally
        id: check_release
        env: 
          RELEASE_TAG: $ {{ steps.latest_meshtastic_tag.outputs.result }}
        run: | 
          set -e
          if gh release view "$RELEASE_TAG" >/dev/null 2>&1; then
            echo "exists=true" >> "$GITHUB_OUTPUT"
          else
            echo "exists=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Exit if release already exists
        if: steps.check_release.outputs.exits == 'true'
        run: | 
          echo "Release for this verion of meshtastic already exists. Exiting."
          exit 1

      - name: Install platformIO cli
        run: |
          curl -fsSL -o get-platformio.py https://raw.githubusercontent.com/platformio/platformio-core-installer/master/get-platformio.py
          python3 get-platformio.py
      
      - name: Install meshtastic firmware
        run: |
          git clone https://github.com/meshtastic/firmware /home/runner/meshtastic
          ls /home/runner/meshtastic

      - name: Move retia board files 
        run: |
          cp ${{ github.workspace }}/variants/retia-nibble /home/runner/meshtastic/variants/ -r
      
      - name: Make dest folder
        run: |
          mkdir /home/runner/dists/
  build:
    runs-on: ubuntulatest
    needs: preamble
    strategy:
      fail-fast: false
      matrix:
        target: [nibble-connect, nibble-esp32, nibble-rp2040, nibble-screen-connect]

    steps:
      - name: Build nibble-screen-connect
        run: |
          /home/runner/.platformio/penv/bin/platformio run --project-dir /home/runner/meshtastic/platformio.ini -e  ${{ matrix.target }}
    
      - name: Archive files
        run: |
          tar -cvf /home/runer/dists/${{ matrix.target }}.tar /home/runner/meshtastic/.pio/build/${{ matrix.target }} 
          zip -r /home/runner/dists/${{ matrix.target }}.zip /home/runner/meshtastic/.pio/build/${{ matrix.target }} 
